[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yytu/デスクトップ/vmware-tools-distrib]
row=4
col=0

[2019-10-01-13-07-03-00]
row=0
col=0

[ゴミ箱]
row=1
col=0

[/]
row=2
col=0

[/home/yytu]
row=3
col=0

